.footer-bg {
  background: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
}

.footer-contact ul,
.footer-info ul {
  display: grid;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer li + li {
  margin-top: 16px;
}

.footer-contact li:nth-child(even)::after {
  display: block;
  content: "";
  height: 2px;
  max-width: 360px;
  background-color: var(--cor-11);
  margin-top: 16px;
}

.footer-social-medias {
  margin-top: 16px;
  display: flex;
  gap: 32px;
}

.footer p {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
}

@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .footer-logo {
    display: none;
  }
  .footer p {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
